.green:hover,
.green {
  background-color: $green;
}

.grey:hover,
.grey {
  background-color: $grey;
}

.orange:hover,
.orange {
  background-color: $orange;
}

.red:hover,
.red {
  background-color: $red;
}

.blue:hover,
.blue {
  background-color: $blue;
}