.tooltip {
  .cmd-css .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }

  .cmd-css .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: black;
  }

  .cmd-css:hover .tooltiptext {
    visibility: visible;
  }

  .cmd-css:active .tooltiptext {
    visibility: hidden;
  }
}