/* <======================= reset css =======================> */
#clara {
    background-color: #ddd;
    font-family: Calibri, Arial, sans-serif;
    position: relative;
    user-select: none;
    border: 5px solid #8e44ad;
}

#clara a {
    text-decoration: none;
}

/* <======================== header ========================> */
#clara > header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #2c3e50;
    color: #fff;
}

#clara > header > h1 {
    margin: 0 20px;
    font-size: 1.5em;
    letter-spacing: 5px;
}

/* <====================== process line =====================> */
#process-line {
    margin: -20px 20% 20px;
    display: flex;
    justify-content: center;
    color: #fff;
}

#process-line > .step {
    flex: 1;
    text-align: center;
    position: relative;
    z-index: 0;
}

#process-line > .step > i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    background-color: #bbb;
}

#process-line > .step.active > i {
    animation: to-blue 1s forwards;
}

#process-line > .step.valid > i {
    animation: to-green 1s forwards;
}

#process-line > .step.valid:hover > i {
    background-color: #2ecc71;
    animation: to-blue 1s forwards;
}

/* <========================= menu =========================> */
#clara > nav,
#clara .tab-body > nav,
#clara .modal-body > nav {
    display: flex;
    padding: 5px 0;
    width: 100%;
    justify-content: center;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

#clara .tab-body > nav,
#clara .modal-body > nav {
    background-color: #2c3e50;
}

#clara > nav {
    position: absolute;
    background-color: #424249;
    bottom: 0;
}

#clara > nav > a,
#clara .tab-body > nav > a,
#clara .modal-body > nav > a {
    border: 1px solid #aaa;
    padding: 6px 20px;
    margin: 3px 0;
}

#clara > nav > a:hover,
#clara .tab-body > nav > a:hover,
#clara .modal-body > nav > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#clara > nav > a:first-child,
#clara .tab-body > nav > a:first-child,
#clara .modal-body > nav > a:first-child {
    border-radius: 1em 0 0 1em;
}

#clara > nav > a:last-child,
#clara .tab-body > nav > a:last-child,
#clara .modal-body > nav > a:last-child {
    border-radius: 0 1em 1em 0;
}

#nav_panel {
    display: none;
}

/* <======================== tabs ========================> */
#clara .tab {
    width: 100%;
    max-height: calc(100% - 150px);
    padding-bottom: 100px;
    overflow-y: auto;
    position: absolute;
    margin-top: 50px;
    display: none;
    opacity: 0;
}

#clara #tab-info p {
    text-align: right;
}

#clara .tab h2 {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
}

#clara #tab-workspace {
    max-height: calc(100% - 165px);
    padding-bottom: 0;
    margin-top: 0;
}

#clara .tab > .tab-body {
    width: 80%;
    margin: auto;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #f7f8f9;
    padding: 15px;
    position: relative;
}

#clara .tab > .tab-body > form {
    background-color: #f7f8f9;
}

#clara #tab-goal > .tab-body {
    padding: 0;
}

/* <======================== form ========================> */
#clara form .group {
    display: flex;
    align-items: center;
    margin: 25px;
}

#clara form ::placeholder {
    color: #aaa;
    font-style: italic;
}

.modal-body label,
#clara form label {
    flex: 1;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

#clara form .next,
#clara form .content,
#clara form textarea,
#clara form input,
#clara form button {
    flex: 3;
    padding: 10px;
    background-color: transparent;
    border: none;
    resize: none;
}

#clara form input:not([type="submit"]) {
    border-bottom: 1px solid #ddd;
}

#clara form .next,
#clara form button.submit,
#clara form input[type="submit"] {
    flex: 1;
    margin: 0 20px;
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
}

/* <====================== workspace ======================> */
#clara #tab-workspace {
    width: 100%;
}

/* <======================== modals ========================> */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.modal-body {
    margin: 100px auto 0;
    border: 1px solid #aaa;
    background-color: #f7f8f9;
    border-radius: 4px;
    padding: 15px;
    display: none;
}

#modal_heading_edit,
#modal_body_edit {
    width: 750px;
}

.modal-body > form > div {
    margin: 15px 0;
    display: flex;
}

.modal-body > form > div > * {
    margin: 0 10px;
}

.modal-body textarea,
.modal-body input {
    background-color: transparent;
    border: none;
    flex: 2;
}

#clara #tab-goal .content,
#modal_body_edit .content {
    min-height: 200px;
    background-color: #fff;
    flex: 4;
}

/* <======================== drop zone ========================> */
.drop_zone {
    text-align: center;
    color: #fff;
    background-color: #2c3e50;
    padding: 5px 0;
    margin-bottom: 15px;
}

/* <==================== bnt remove pannel ====================> */
.panel_remove {
    text-align: right;
    font-size: 20px;
    padding: 5px;
    color: #2c3e50;
}

/* <======================== animations ========================> */
.fadeOn {
    animation: show 1s forwards;
}

.fadeOff {
    opacity: 1 !important;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes to-blue {
    0% {
    }
    100% {
        background-color: #3498db;
    }
}

@keyframes to-green {
    0% {
    }
    100% {
        background-color: #2ecc71;
    }
}