<header class="header-bar">
    <a href="sujets_home.php">
        <h1><b>Etna</b> - Clara</h1>
    </a>
    <div class="db-lign">
        <input id="title" placeholder="Document sans titre" title="Renommer">
        <div id="main-menu">
            <a href="/jawa-clara/clara/index.php">Nouveau</a>
            <!--<a href="sujets.php">Ouvrir</a>-->
            <!--<a onclick="overlay_show('overlay_preview')">Preview</a>-->
            <!--validation du formulaire-->
            <a id="btn-valid-form" class="btn btn-primary" target="_blank">Générer</a>
        </div>
    </div>
</header>