/* HEADER */
header.header-bar {
    background-color: #553982;
    border-bottom: 1px solid #3f2a60;
    height: 60px;
    line-height: 60px;
    color: #fff;
    display: flex;
    flex-direction: row;
}

header.header-bar h1 {
    margin: 0 20px 0 20px;
    color: #ecdfff;
    font-family: "Roboto", sans-serif;
    font-size: large;
    letter-spacing: 2px;
}

header.header-bar h1 > b {
    font-family: "Roboto bold", sans-serif;
    letter-spacing: 1px;
}

header.header-bar > .db-lign {
    line-height: 30px;
}

/* TITLE */
#title {
    background-color: transparent;
    border: none;
    margin-left: 7px;
    color: #bcc8ff;
    font-size: 1em;
}

#title::placeholder {
    color: #8d7ba1;
    font-style: italic;
}

#title:focus {
    outline: none;
}

/* MAIN MENU */
#main-menu {
    color: #ecdfff;
}

#main-menu > a {
    margin-bottom: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 3px 7px 6px 7px;
}

#main-menu > a:hover {
    background-color: #3f2a60;
}

/* BANNER */
section.banner {
    background-color: #424249;
    border-bottom: 2px solid #333338;
    padding: 0 100px 10px 100px;
}

section.banner > h2 {
    color: #eee;
    font-family: Arial, sans-serif;
    font-size: medium;
}

/**/
body {
    margin: 0;
    background-color: #eee;
    font-family: "Segoe UI", sans-serif;
}

/*body > * {*/
body {
    display: flex;
    flex-direction: column;
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

script {
    display: none;
}

.last-sujet-list {
    padding: 0 100px 0 100px;
}

.last-sujet-list > h2 {
    color: #555;
    font-family: Arial, sans-serif;
    font-size: medium;
}

.box {
    background-color: #59595F;
    border: 1px solid #333;
    border-radius: 1px;
    margin-right: 15px;
    width: 100px;
    height: 130px;
    line-height: 130px;
    color: white;
    text-align: center;
}

.box-s {
    box-shadow: 2px 2px 2px #aaa;
    margin-bottom: 10px;
}

.box-s:active {
    position: relative;
    top: 2px;
}

.box_row {
    display: flex;
    flex-wrap: wrap;
    /*background-color: #4e4e4e;*/
}

.tool-menu {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ccc;
    /*color: #bebab0;*/
    background-color: #424249;
    font-size: large;
    /*border: 1px solid #333338;*/
    text-align: center;
    border-bottom: 1px solid #333;
}

.group {
    margin: 0 8px 0 0;
    padding: 0 0 0 10px;
    display: inline;
    border-left: 1px #eee inset;
}

.tool-menu > .group > a,
.tool-menu > .group > div {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px transparent solid;
    border-radius: 3px;
    display: inline;
}

.tool-menu > .group > a:hover,
.tool-menu > .group > div:hover {
    padding: 5px;
    color: #fff;
    background-color: #4e4e4e;
    border: 1px #ccc outset;
    position: relative;
    z-index: 1;
}

.tool-menu > .group > a:active,
.tool-menu > .group > div:active {
    position: relative;
    top: 2px;
}

#page {
    background-color: white;
    width: 800px;
    min-height: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px #ccc solid;
    box-shadow: 1px 1px 8px #aaa;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /*font-family: Arial, sans-serif;*/
}

#page:focus {
    outline: none;
}

#page2 {
    margin: auto;
    margin-top: 50px;
    background-color: white;
    /*overflow: auto;*/
    width: 750px;
    height: 90vh;
    max-height: 1000px;
}

.op80 {
    opacity: 0.8;
}

.op60 {
    opacity: 0.6;
}

.op40 {
    opacity: 0.4;
}

.op20 {
    opacity: 0.2;
}

.op0 {
    opacity: 0;
}

h1 > input.size3 {
    max-width: 60px;
}

h1 > input.size4 {
    max-width: 80px;
}

h1 > input.size10 {
    max-width: 200px;
}

#overlay_preview {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.green:hover,
.green {
    background-color: #4b6c53 !important;
}

.grey:hover,
.grey {
    background-color: #62626c !important;
}

.orange:hover,
.orange {
    background-color: #6f644c !important;
}

.red:hover,
.red {
    background-color: #684343 !important;
}

.blue:hover,
.blue {
    background-color: #474d6a !important;
}

.bloc-lg {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

/* BLOC */
.blc {
    box-shadow: 1px 1px 2px 1px rgba(57, 65, 71, 0.39);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 4px 4px 1px 1px;

}

/* BLOC HEADING */
.blc-heading {
    border-radius: 4px 4px 0 0;
}

/* BLOC BODY */
.blc-body {
    font-size: 14px;
    padding: 0 10px;
    color: #000;
}

.blc-heading > h1 > input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

/* primary */
.blc-primary > .blc-heading {
    background-color: #337AB7;
}

/* primary */
.blc-project > .blc-heading {
    background-color: #22AD54;
}

/* step */
.blc-default > .blc-heading,
.blc-step > .blc-heading {
    background-color: #4E4E4E;
}

/* danger */
.blc-danger > .blc-heading {
    background-color: #FD6767;
}

/* warning */
.blc-warning > .blc-heading {
    background-color: #FDD767;
}

/* info */
.blc-info > .blc-heading {
    background-color: #ACE3FF;
}

.blc-heading > h1 {
    color: white;
}

.blc-heading > h1 > i {
    width: 50px;
    margin-left: 25px;
}

.blc-heading input {
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;

    display: inline;
    outline: none;
}

.blc-heading input:focus {
    outline: none;
}

.target_drop {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
}