# Created by .ignore support plugin (hsz.mobi)
.idea/deployment.xml
.idea/inspectionProfiles/
.idea/jawa-clara.iml
.idea/modules.xml
.idea/preferred-vcs.xml
.idea/vcs.xml
.idea/workspace.xml
clara/sujet.html
maquette/img/
