<!--<nav class="tool-menu">-->
    <!--<div class="group">-->
        <!--&lt;!&ndash;bloc descriptif&ndash;&gt;-->
        <!--<div title="bloc" class="bloc-lg green" draggable="true" ondragstart="drag(event)" data-type="describ">-->
            <!--<a id="btn_add_describ" class="btn btn-add btn-success"><i class="fa fa-book"></i></a>-->
        <!--</div>-->
        <!--&lt;!&ndash;bloc d'etape&ndash;&gt;-->
        <!--<div title="bloc" class="bloc-lg grey" draggable="true" ondragstart="drag(event)" data-type="step">-->
            <!--<a id="btn_add_step" class="btn btn-add btn-step"><i class="fa fa-flag"></i></a>-->
        <!--</div>-->
        <!--&lt;!&ndash;bloc de mise en garde&ndash;&gt;-->
        <!--<div title="bloc" class="bloc-lg orange" draggable="true" ondragstart="drag(event)" data-type="warning">-->
            <!--<a id="btn_add_warning" class="btn btn-add btn-warning"> <i class="fa fa-exclamation-triangle"></i></a>-->
        <!--</div>-->
        <!--&lt;!&ndash;bloc d'interdiction&ndash;&gt;-->
        <!--<div title="bloc" class="bloc-lg red" draggable="true" ondragstart="drag(event)" data-type="danger">-->
            <!--<a id="btn_add_danger" class="btn btn-add btn-danger"><i class="fa fa-ban"></i></a>-->
        <!--</div>-->
        <!--&lt;!&ndash;bloc d'information&ndash;&gt;-->
        <!--<div title="bloc" class="bloc-lg blue" draggable="true" ondragstart="drag(event)" data-type="info">-->
            <!--<a id="btn_add_info" class="btn btn-add btn-info"><i class="fa fa-info"></i></a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="group"></div>-->
<!--</nav>-->