/* HEADER */
header.header-bar {
    background-color: #553982;
    border-bottom: 1px solid #3f2a60;
    height: 60px;
    line-height: 60px;
    color: #fff;
    flex-direction: row;
}

header.header-bar h1 {
    margin: 0 20px 0 20px;
    color: #ecdfff;
    font-family: "Roboto", sans-serif;
    font-size: large;
    letter-spacing: 2px;
}

header.header-bar h1 > b {
    font-family: "Roboto bold", sans-serif;
    letter-spacing: 1px;
}

header.header-bar > .db-lign {
    line-height: 30px;
}

/* TITLE */
#title {
    background-color: transparent;
    border: none;
    margin-left: 7px;
    color: #bcc8ff;
    font-size: 1em;
}

#title::placeholder {
    color: #8d7ba1;
    font-style: italic;
}

#title:focus {
    outline: none;
}

/* MAIN MENU */
#main-menu {
    color: #ecdfff;
}

#main-menu > a {
    margin-bottom: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 3px 7px 6px 7px;
}

#main-menu > a:hover {
    background-color: #3f2a60;
}

/* BANNER */
section.banner {
    background-color: #424249;
    border-bottom: 2px solid #333338;
    padding: 0 100px 10px 100px;
}

section.banner > h2 {
    color: #eee;
    font-family: Arial, sans-serif;
    font-size: medium;
}

/**/
body {
    margin: 0;
    background-color: #eee;
    font-family: "Segoe UI", sans-serif;
}

body > * {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

script {
    display: none;
}

.last-sujet-list {
    padding: 0 100px 0 100px;
}

.last-sujet-list > h2 {
    color: #555;
    font-family: Arial, sans-serif;
    font-size: medium;
}

.box {
    background-color: #59595F;
    border: 1px solid #333;
    border-radius: 1px;
    margin-right: 15px;
    width: 100px;
    height: 130px;
    line-height: 130px;
    color: white;
    text-align: center;
}

.box-s {
    box-shadow: 2px 2px 2px #aaa;
    margin-bottom: 10px;
}

.box_row {
    display: flex;
    flex-wrap: wrap;
    /*background-color: #4e4e4e;*/
}

.tool-menu {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ccc;
    background-color: #424249;
    font-size: large;
    /*border: 1px solid #333338;*/
    text-align: center;
    border-bottom: 1px solid #333;
}

.group {
    margin: 0 8px 0 0;
    padding: 0 0 0 10px;
    display: inline;
    border-left: 1px #eee inset;
}

.tool-menu > .group > a {
    padding: 3px;
    margin: 2px;
    border: 1px transparent solid;
    border-radius: 3px;
}

.tool-menu > .group > a:hover {
    /*color: #60d;*/
    padding: 5px;
    margin: 0;
    color: #fff;
    background-color: #4e4e4e;
    border: 1px #ccc outset;
}

.tool-menu > .group > a:active {
    position: relative;
    top: 2px;
    /*color: #80f;*/
}

#page {
    background-color: white;
    width: 750px;
    min-height: 900px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px #ccc solid;
    box-shadow: 1px 1px 8px #aaa;
}

#page:focus {
    outline: none;
}

#page2 {
    margin: auto;
    margin-top: 50px;
    background-color: white;
    /*overflow: auto;*/
    width: 750px;
    height: 90vh;
    max-height: 1000px;
}

.op80 {
    opacity: 0.8;
}

.op60 {
    opacity: 0.6;
}

.op40 {
    opacity: 0.4;
}

.op20 {
    opacity: 0.2;
}

.op0 {
    opacity: 0;
}