#page2 {
    padding: 15px 15px 15px 15px;
    background-color: #FCFDFD;
}

#page2 h1 {
    padding-left: 25px;
    display: inline-block;
    font-weight: bold;
}

#page2 h2 {
    padding-left: 25px;
    display: inline-block;
    font-weight: bold;
}

#page2 h3 {
    padding-left: 15px;
    display: inline-block;
    font-weight: bold;
}

#page2 h4 {
    padding-left: 10px;
    display: inline-block;
    font-weight: bold;
}

#page2 li {
    font-weight: bold;
    line-height: 150%;
}

#page2 pre {
    border: 1px solid black;
    padding: 2px;
    margin: 10px 0;
    white-space: inherit;
    background-color: #000;

}

#page2 pre > code {
    color: #fff;
}

#page2 ul.normal, ol.normal {
    margin-left: -20px;
}

#page2 .normal li {
    font-weight: normal;
}

#page2 .fa {
    color: white;
    font-size: 38px;
}

#page2 .alert,
#page2 .panel {
    border: transparent;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(57, 65, 71, 0.39);
    -moz-box-shadow: 1px 1px 2px 1px rgba(57, 65, 71, 0.39);
    box-shadow: 1px 1px 2px 1px rgba(57, 65, 71, 0.39);
}

/* Panel global */
#page2 .panel > .panel-heading {
    padding: 1.7em;
}

#page2 .panel > .panel-heading * {
    padding: 0;
    margin: 0;
}

#page2 .panel > .panel-heading *:nth-child(2) {
    padding-left: 25px;
}

#page2 .panel > .panel-heading p {
    display: inline;
    padding-left: 7px;
    font-style: italic;
    font-size: 18px;
}

/* Panel Primary */
#page2 .panel-primary > .panel-heading .fa {
    font-size: 30px;
}

#page2 .panel-primary > .panel-heading > h4 + p {
    padding-left: 7px;
    font-style: italic;
    font-size: 18px;
    display: inline;
}

/* Panel Danger */
#page2 .panel-danger > .panel-heading {
    background-color: #FD6767;
    color: #394147;
}

#page2 .panel-info > .panel-heading .fa,
#page2 .panel-danger > .panel-heading .fa {
    font-size: 29px;
}

/* Panel Infos */
#page2 .panel-info > .panel-heading {
    background-color: #ace3ff;
    color: #394147;
}

/* Panel Warning */
#page2 .panel-warning > .panel-heading {
    background-color: #fdd767;
    color: #394147;
}

#page2 .panel-warning > .panel-heading .fa {
    font-size: 27px;
}

/* Panel Questions, etc */
#page2 .panel-default > .panel-heading {
    padding: 1.3em;
    background-color: #4e4e4e;
    color: #fff;
}

#page2 .panel-default > .panel-heading .fa {
    font-size: 27px;
}

#page2 .panel-default > .panel-heading h4 {
    font-size: 21px;
}

/* Panel project */
#page2 .panel-project > .panel-heading {
    color: #ffffff;
    background-color: #22ad54;
}

/* Panel success */
#page2 .panel-success > .panel-heading {
    background-color: #319c5e;
    color: #fff;
}

#page2 .panel-body {
    background-color: white;
}

#page2 ul.normal {
    margin-left: -20px;
}

#page2 .normal li {
    font-weight: normal;
}

@media (min-width: 900px) {
    #page2 .panel-primary > .panel-heading {
        background: url('https://dl.etna-alternance.net/css/banniere.png');
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 500px;
        background-color: #337ab7;
    }
}