<nav>
    <div class="tool-menu">
        <div class="group">
            <!--bloc descriptif-->
            <div title="bloc" class="bloc-lg green" draggable="true" ondragstart="drag(event)" data-type="describ">
                <a id="btn_add_describ" class="btn btn-add btn-success"><i class="fa fa-book"></i></a>
            </div>
            <!--bloc d'etape-->
            <div title="bloc" class="bloc-lg grey" draggable="true" ondragstart="drag(event)" data-type="step">
                <a id="btn_add_step" class="btn btn-add btn-step"><i class="fa fa-flag"></i></a>
            </div>
            <!--bloc de mise en garde-->
            <div title="bloc" class="bloc-lg orange" draggable="true" ondragstart="drag(event)" data-type="warning">
                <a id="btn_add_warning" class="btn btn-add btn-warning"> <i class="fa fa-exclamation-triangle"></i></a>
            </div>
            <!--bloc d'interdiction-->
            <div title="bloc" class="bloc-lg red" draggable="true" ondragstart="drag(event)" data-type="danger">
                <a id="btn_add_danger" class="btn btn-add btn-danger"><i class="fa fa-ban"></i></a>
            </div>
            <!--bloc d'information-->
            <div title="bloc" class="bloc-lg blue" draggable="true" ondragstart="drag(event)" data-type="info">
                <a id="btn_add_info" class="btn btn-add btn-info"><i class="fa fa-info"></i></a>
            </div>

            <!--<a class="bloc-lg green" draggable="true"><i class="fa fa-book"></i></a>-->
            <!--<a title="bloc" class="bloc-lg grey" draggable="true"><i class="fa fa-flag"></i></a>-->
            <!--<a title="bloc" class="bloc-lg orange" draggable="true"><i class="fa fa-exclamation-triangle"></i></a>-->
            <!--<a title="bloc" class="bloc-lg red" draggable="true"><i class="fa fa-ban"></i></a>-->
            <!--<a title="bloc" class="bloc-lg blue" draggable="true"><i class="fa fa-info"></i></a>-->
            <div class="group"></div>
        </div>
    </div>
</nav>