<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
<link rel="stylesheet" href="https://dl.etna-alternance.net/sujets/sujet-etna-new.css">
<link rel="stylesheet" href="css/style.css">

<header>
    <h1 id="reload">CLARA</h1>
</header>

<!-- PANEL MENU -->
<nav id="nav_panel">
    <a draggable="true" type="warning"><i class="fa fa-warning"></i></a>
    <a draggable="true" type="forbidden"><i class="fa fa-ban"></i></a>
    <a draggable="true" type="info"><i class="fa fa-info"></i></a>
    <a draggable="true" type="exercice"><i class="fa fa-file"></i></a>
</nav>

<!-- PROCESS LINE -->
<div id="process-line">
    <div class="step active"><i class="fas fa-cogs"></i></div>
    <div class="step"><i class="fas fa-info"></i></div>
    <div class="step"><i class="fas fa-file"></i></div>
    <div id="download" class="step"><i class="fas fa-chevron-circle-right"></i></div>
</div>

<!-- MODULE INFO -->
<section id="tab-info" class="tab">
    <div class="tab-body">
        <h2>1) Saisissez les information relatives à l'UV</h2>
        <form>
            <div class="group">
                <label>Nom du module * :</label>
                <input type="text" name="module" placeholder="TIC-DVC1" required>
            </div>
            <div class="group">
                <label>Nom du projet * :</label>
                <input type="text" name="project" placeholder="snake" required>
            </div>
            <br>
            <div class="group">
                <label>Rendu :</label>
                <input type="text" name=":svn" placeholder="$$RENDU$$">
            </div>
            <div class="group">
                <label>VM :</label>
                <input type="text" name=":vm" placeholder="$$VM$$">
            </div>
            <div class="group">
                <label>Rendu :</label>
                <input type="text" name=":order" placeholder="test.sh, [...]">
            </div>
            <div class="group">
                <label>Correction :</label>
                <input type="text" name=":correction" placeholder="Moulinette / soutenances">
            </div>
            <div class="group">
                <label>Temps :</label>
                <input type="text" name=":time" placeholder="2 jours">
            </div>
            <div class="group">
                <label>Effectif :</label>
                <input type="text" name=":team" placeholder="Seul / groupe de 2 / [...]">
            </div>
            <p>* champs obligatoire</p>
            <div class="group">
                <input type="submit" value="Valider">
            </div>
        </form>
    </div>
</section>

<!-- GOAL INFO -->
<div id="tab-goal" class="tab">

    <div class="tab-body">
        <!-- TEXT MENU -->
        <nav id="nav_text">
            <a action="undo"><i class="fa fa-undo"></i></a>
            <a action="redo"><i class="fa fa-repeat"></i></a>
            <a action="bold"><i class="fa fa-bold"></i></a>
            <a action="italic"><i class="fa fa-italic"></i></a>
            <a action="justifyLeft"><i class="fa fa-align-left"></i></a>
            <a action="justifyCenter"><i class="fa fa-align-center"></i></a>
            <a action="justifyRight"><i class="fa fa-align-right"></i></a>
            <a action="justifyFull"><i class="fa fa-align-justify"></i></a>
            <a action="insertUnorderedList"><i class="fa fa-list-ul"></i></a>
            <a action="cut"><i class="fa fa-cut"></i></a>
            <a action="copy"><i class="fa fa-copy"></i></a>
            <!--<a action="paste"><i class="fa fa-clipboard"></i></a>-->
        </nav>

        <h2>2) Saisissez le(s) objectif(s) du projet / quest</h2>
        <form>
            <div class="group">
                <div class="content" contenteditable='true'>
                    <p>Connaitre les bases d'excel</p>
                </div>
            </div>
            <div class="group">
                <input type="submit" value="Valider">
            </div>
        </form>
    </div>
</div>

<!-- WORKSPACE -->
<div id="tab-workspace" class="tab">
    <div class="tab-body">
    </div>
</div>

<!-- MODAL EDIT -->
<div class="modal">
    <div class="modal-body" id="modal_body_edit">
        <form>
            <div class="group">
                <label>Votre texte :</label>
                <div class="content" contenteditable='true'>BONJOUR</div>
            </div>
            <input type="submit" value="Valider">
        </form>
    </div>
</div>