<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Module - Projet</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://dl.etna-alternance.net/sujets/prism.css">
		<link rel="stylesheet" href="https://dl.etna-alternance.net/sujets/sujet-etna-new.css">
		<script type="text/javascript" src="https://dl.etna-alternance.net/sujets/prism.js"></script>
	</head>
	<body>
		<!-- Paramètres du projet -->
		<div class="panel panel-module">
			<div class="panel-heading">Module</div>
			<div class="panel-body">
				<table>
				</table>
			</div>
		</div>

		<!-- Objectifs -->
		<div class="panel panel-objective">
			<div class="panel-heading">Objectifs</div>
			<div class="panel-body">
			</div>
		</div>

		<!-- Descriptions du projet -->
		<div class="panel panel-project">
			<div class="panel-heading">Nom du projet</div>
			<div class="panel-body">
			</div>
		</div>

		<!-- Attention -->
		<div class="panel panel-warning">
			<div class="panel-heading">Attention</div>
			<div class="panel-body">
			</div>
		</div>

		<!-- Interdits -->
		<div class="panel panel-forbidden">
			<div class="panel-heading">Interdits</div>
			<div class="panel-body">
			</div>
		</div>

		<!-- Informations -->
		<div class="panel panel-info">
			<div class="panel-heading">Informations</div>
			<div class="panel-body">
			</div>
		</div>

		<!-- Etapes du projet -->
		<div class="panel panel-exercice">
			<div class="panel-heading">Etape 1 : nom de l'etape</div>
			<div class="panel-body">
			</div>
		</div>

		<!-- Questions / Autres  -->
		<div class="panel panel-question">
			<div class="panel-heading"> Question 3 : Combien valent i et j dans le code ci-dessous ?</div>
			<div class="panel-body">
<pre><code class="language-c">#include &lt;stdio.h&gt;
int main()
{
	int i = 0;
	int j = 0;

	j = i++ + ++i;
	printf("%d", i);
	printf("%d", j);
	return (0);
}</code></pre>
				<table>
					<tr>
						<th>Réponses</th>
					</tr>
					<tr>
						<th>a</th>
						<td>0 et 0</td>
					</tr>
					<tr>
						<th>b</th>
						<td>1 et 1</td>
					</tr>
					<tr>
						<th>c</th>
						<td>1 et 2</td>
					</tr>
					<tr>
						<th>d</th>
						<td>2 et 2</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Exemple -->
		<div class="panel panel-example">
			<div class="panel-heading">Exemple :</div>
			<div class="panel-body">
<pre><code class="language-go">package main

import "fmt"

func addition(a int, b int) {
	// écrivez votre code à partir d'ici
}

func main() {
	addition(6, 5);
}</code></pre>
			</div>
		</div>
	</body>
</html>
